<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline:</div>
  </section>
</main>





<%- include('../partials/footer') %>